/* =========================
   RESET
========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =========================
   BODY
========================= */
body {
  margin: 0 1px 0 1px;
  font-family: Arial, sans-serif;
  background: linear-gradient(100deg, rgba(217, 163, 235, 0.867), #90cdff);
}

/* =========================
   CONTAINER
========================= */
.container {
  width: min(95%, 1100px);
  margin: 25px auto;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* =========================
   TITLE
========================= */
h1,
h2 {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

/* =========================
   FORM
========================= */
form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-bottom: 25px;
}

form input,
form select,
form button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
}

input,
select {
  border: 1px solid #ccc;
  outline: none;
  transition: 0.3s;
}

input:focus,
select:focus {
  border-color: #4da6ff;
  box-shadow: 0 0 5px rgba(6, 10, 15, 0.4);
}

form button {
  grid-column: 1 / -1;
  border: none;
  background: linear-gradient(100deg, #90cdff, rgba(217, 163, 235, 0.867));
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

form button:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}

/* =========================
   SUMMARY
========================= */
.summary {
  display: flex;
  gap: 15px;
  margin: 25px 0;
}

.summary h3 {
  flex: 1;
  background: #f8f8f8;
  padding: 18px;
  border-radius: 10px;
  text-align: center;
  border-left: 5px solid #7bbcff;
}

/* =========================
   TABLE
========================= */

.table-responsive {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: 20px;
  border-radius: 10px;
  -webkit-overflow-scrolling: touch;
}

.table-responsive::-webkit-scrollbar {
  height: 8px;
}

.table-responsive::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border-radius: 20px;
}

.table-responsive::-webkit-scrollbar-track {
  background: #f1f1f1;
}

table {
  width: 100%;
  min-width: 700px;
  border-collapse: collapse;
  background: white;
  table-layout: fixed;
}

th,
td {
  border: 1px solid black;
  padding: 12px;
  text-align: center;
  white-space: nowrap;
}

th {
  background: rgba(217, 163, 235, 0.867);
  color: black;
}

tbody tr:nth-child(even) {
  background: #f7f7f7;
}

tbody tr:hover {
  background: #b0b5b9;
}

header {
  position: sticky; /* atau fixed jika ingin selalu di atas */
  top: 0;

  width: 100%;
  height: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 40px;
  box-sizing: border-box;

  background: rgba(0, 0, 0, 0.08);

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);

  z-index: 1000;
}

.nav-link {
  display: flex;
  position: relative;
  gap: 1rem;
}

.btn-nav {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 18px;
  border-radius: 8px;
  transition: 0.3s;
}

.btn-nav:hover {
  background: #f2f2f2;
  color: #007bff;
}

/* =========================
   TABLET
========================= */

@media (max-width: 768px) {
  header {
    justify-content: space-between;
  }

  .nav-link {
    display: flex;
    gap: 8px; /* lebih rapat */
  }

  .btn-nav {
    padding: 3px 2px;
    font-size: 12px;
  }
}

/* =========================
   MOBILE
========================= */

@media (max-width: 480px) {
  body {
    display: block;
    padding: 10px;
  }

  .container {
    width: 100%;
    padding: 15px;
    border-radius: 12px;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 15px;
    color: black;
  }

  h2 {
    font-size: 18px;
    color: black;
  }

  form {
    grid-template-columns: 1fr;
    gap: 12px;
  }

  input,
  select,
  button {
    font-size: 15px;
    padding: 11px;
  }

  .summary {
    flex-direction: column;
    gap: 12px;
    margin: 20px 0;
  }

  .summary h3 {
    font-size: 15px;
    padding: 15px;
  }

  /* Chrome, Edge, Safari */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 8px;
  }

  ::-webkit-scrollbar-track {
    background-color: #f0f0f0;
  }
  th,
  td {
    padding: 6px;
    font-size: 12px;
  }

  /* ===== TABLE MOBILE ===== */
  /* ===== TABLE MOBILE ===== */

  .table-responsive {
    display: flex;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 15px;
    border-radius: 8px;
    -webkit-overflow-scrolling: touch;
  }

  table {
    width: max-content;
    min-width: 700px;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 10px 14px;
    font-size: 13px;
    white-space: nowrap;
    color: black;
  }
}
