:root {
  --primary: #3381ff;
  --secondary: #54cfff;
  --bg: #7bdaff;
  --text: #1f2937;
  --white: #ffffff;
  --shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  --radius: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background:
    radial-gradient(
      circle at top left,
      rgba(84, 207, 255, 0.8),
      transparent 70%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(51, 129, 255, 0.8),
      transparent 65%
    ),
    linear-gradient(135deg, var(--bg), var(--white));
  color: var(--text);
  overflow-x: hidden;
}

.menu-card {
  border-radius: var(--radius);
  padding: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  box-shadow: var(--shadow);
  transition: all 0.25s ease;
  color: linear-gradient(125deg, rgba(0, 28, 151, 0.4), #94c7f3);
  box-shadow: rgba(0, 28, 151, 2);
}

/* .container {
  width: 100%;
  max-width: 380px;
  padding: 40px 35px;
  background:
    radial-gradient(
      circle at top left,
      rgba(84, 207, 255, 0.8),
      transparent 70%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(51, 129, 255, 0.8),
      transparent 65%
    );
  border: 1px solid var(--secondary);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  text-align: center;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
} */
.container {
  width: 100%;
  max-width: 380px;
  padding: 40px 35px;
  background: rgba(255, 255, 255, 0.88);
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  text-align: center;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.container:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow-hover);
}

.container button {
  width: 100%;
  padding: 13px 20px;
  margin-top: 5px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(135deg, var(--primary), var(--secondary));
  color: var(--white);
  font-size: 0.95rem;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 8px 18px rgba(51, 129, 255, 0.25);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease,
    filter 0.2s ease;
}

.container button:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 25px rgba(51, 129, 255, 0.35);
  filter: brightness(1.05);
}

.container input {
  width: 100%;
  padding: 13px 15px;
  margin-bottom: 15px;
  border: 1px solid var(--primary);
  border-radius: 12px;
  outline: none;
  background: azure;
  color: var(--text);
  font-size: 0.9rem;
  transition:
    border 0.25s ease,
    box-shadow 0.25s ease,
    background 0.25s ease;
}
